.card:not(:last-child) {
  margin-bottom: $default-padding;
}

.card {
  &.has-table {
    // min-height: 500px;
    .card-content {
      padding: 0;
    }
  }

  .card-header {
    border-bottom: 1px solid $base-color-light;
    .button {
      display: inline-flex;
      align-self: center;
      margin-right: 0.75rem;
    }
  }
  .notification.is-card-action {
    border-radius: 0;
    padding: 0.75rem;
    margin-bottom: 0;
    a {
      text-decoration: none;
    }
    .level-left {
      max-width: 75%;
      .level-item {
        width: 100%;
      }
    }
    .level-right {
      align-self: flex-end;
    }
  }

  .card-content {
    hr {
      margin-left: $card-content-padding * -1;
      margin-right: $card-content-padding * -1;
    }
  }

  .has-widget-icon {
    border-right: 1px solid $white-bis;
  }

  .is-widget-icon {
    background-color: $white-bis;
    border-radius: $radius-rounded;
    .icon {
      width: 4rem;
      height: 4rem;
    }
  }

  .is-widget-label {
    text-align: center;
    width: 100%;
    .sub-label {
      margin-top: 0.5rem;
      .level-item:not(:last-child) {
        border-right: 1px solid $white-bis;
      }
    }
  }
}
